*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/
/gradlew
/gradlew.bat
/gradle.properties
/app/src/androidTest/
/app/src/test/
/app/google-services.json